**/node_modules/

**/dist/
**/build/

**/.angular/
**/coverage/


.angular/
api-server/package-lock.json

.vscode/
.idea/

logs/
*.log

Thumbs.db
.DS_Store

npm-debug.log*

package-lock.json
yarn.lock

*.swp
*.swo
*.bak

**/*.test.js
**/*.spec.js

api-server/node_modules/
api-server/dist/
api-server/build/

