<div class="photo-library-container">
  <div *ngIf="loading$ | async" class="loading-overlay">
    <div class="spinner"></div>
  </div>

  <div
    *ngIf="error$ | async as error; else showPhotos"
    class="error-message-container"
  >
    <p class="error-text">Error occurred in image loading</p>
  </div>

  <ng-template #showPhotos>
    <div
      *ngIf="!(loading$ | async)"
      class="photos-container"
      (scroll)="onScroll()"
    >
      <div class="photo-gallery">
        <div *ngFor="let photo of photos$ | async" class="photo-card">
          <img
            [src]="photo.urls.small"
            [alt]="photo.alt_description"
            class="photo"
          />
        </div>
      </div>
    </div>
    <div *ngIf="total$ | async as total">
      <div class="photo-count">
        <span>{{ (photos$ | async)?.length }} / {{ total }}</span>
      </div>
    </div>
  </ng-template>
</div>
