.app-container {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff7eb;
}

.headline{
  margin:0;
  font-family: cursive;
} 

.search-form {
  gap: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-out;

  &.after-search {
    gap: 1vw;
    flex-direction: row;
  }
}

.search-input {
  width: 20vw;
  outline: none;
  font-size: 1em;
  border-radius: 2em;
  padding: 0.8em 1.2em;
  border: 0.06em solid #ccc;
  transition: transform 0.3s ease-out;
}

.search-input:focus {
  border-color: #4285f4;
}

.search-button {
  font-size: 1em;
  color: white;
  cursor: pointer;
  border-radius: 2em;
  padding: 0.6em 1.2em;
  border: 0.06em solid #4285f4;
  background-color: #4285f4;
  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: #357ae8;
}

.search-container-top-position {
  gap: 2vw;
}
