<div class="app-container">
  <div
    class="search-form"
    [ngClass]="isSearchSubmitted ? 'after-search' : null"
  >
    <h1 *ngIf="!isSearchSubmitted" class="headline">
      Lumana Interview Exercise
    </h1>
    <input
      type="text"
      [(ngModel)]="searchLiteral"
      placeholder="Enter image description"
      (keydown.enter)="onSearch(searchLiteral)"
      class="search-input"
    />
    <button (click)="onSearch(searchLiteral)" class="search-button">
      Search
    </button>
  </div>
  <photo-library
    [searchLiteral]="searchLiteral"
    *ngIf="isSearchSubmitted"
  ></photo-library>
</div>
